<div class="footer">
    <footer>
      <!-- Etiqueta footer -->
      <div class="container-footer">
        <!-- Footer Up -->
        <div class="footer-content">
          <!-- contactos -->
          <div class="text-footer">
            <h3>Contáctanos!</h3>
            <div class="contacto">
              <p><i class="fa fa-map-marker"></i>info@uman.edu.mx</p>
              <p><i class="fa fa-phone"></i>(899)-922-2086</p>
              <p><i class="fa fa-envelope"></i>Calle Primera S/N, Col. El Círculo<br /> C.P 88640 Reynosa, México</p>
            </div>
          </div>
        </div>
        <div class="footer-content">
          <!-- Links -->
          <h3>Enlaces rápidos</h3>
          <ul class="Lista">
            <!-- Lista de links -->
            <li><a href="">Inicio</a></li>
            <li><a href="">Sobre Nosotros</a></li>
            <li><a href="">Servicios</a></li>
            <li><a href="">Planes de estudio</a></li>
            <li><a href="">Contactos</a></li>
          </ul>
        </div>
        <div class="footer-content">
          <!-- Redes sociales -->
          <h3>Síguenos!</h3>
          <ul class="social-icons">
            <!-- iconos de redes sociales -->
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="bottom-bar">
        <!-- Footer Down -->
        <p>&copy; 2024 Universidad Mexico Americana del Norte. Designer by: Cristian E.</p>
      </div>
    </footer>
  </div> <!-- Caja Footer -->