<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <title>Catálogo UMAN</title>
  <link rel=icon href="img/biblioteca.ico" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <link rel="stylesheet" type="text/css" href="css/footer.css" />
  <link rel="stylesheet" type="text/css" href="css/Nav.css" />
  <script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>
  <meta http-equiv="X-UA-Compatible" content="IE-edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--a href="https://www.flaticon.es/iconos-gratis/biblioteca" title="biblioteca iconos">Biblioteca iconos creados por Dighital Design - Flaticon</a>-->
</head>

<body>
  <div class="container-main">
    <div id="Principal">
      <div class="Logo">
        <!-- Caja header -->
        <header id="Cabecera">
          <!-- header -->
          <!-- Logo UMAN -->
          <h1>𝐂𝐀𝐓Á𝐋𝐎𝐆𝐎 𝐄𝐋𝐄𝐂𝐓𝐑𝐎𝐍𝐈𝐂𝐎</h1> <!-- Titulo de sitio -->
        </header>
      </div>
      <nav>
        <div class="mobile">
          <!-- Caja responsive -->
          <div class="header">
            <!-- Header y nav -->
            <div class="logo">Logo</div> <!-- Palabra logo en nav -->
            <div class="more"><button>More</button></div> <!-- Boton More -->
          </div>
          <div class="links">
            <!-- vinculos -->
            <a href="#">Services</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Search</a>
            <a href="#">Sign up</a>
            <% if (authToken) {%>
            <a href="./login">Estas logueado</a>
            <% } else { %>
            <a href="./login">Login</a>
            <% } %>
          </div>
        </div>
        <div class="desktop">
          <!-- Diseño escritorio -->
          <div class="Logo"><img src="img/uman.png" alt="" /></div> <!-- Palabra logo en nav -->
          <div class="primary">
            <!-- Buscador -->
            <input type="text" placeholder="Buscar..." /> <!-- Buscador -->
            <button><i class="fa-solid fa-magnifying-glass"></i></button> <!-- Buscador -->
          </div>
          <div class="secondary full">
            <!-- Links escritorio en nav -->
            <a href="#">Buscar</a>
            <a href="#">Regístrate</a>
            <% if (authToken) {%>
            <a href="./logout">Cerrar sesion</a>
            <% } else { %>
            <a href="./login">Login</a>
            <% } %>
          </div>
          <div class="secondary mini">
            <!-- Links en movil -->
            <a href="#" class="more">Más</a> <!-- Boton desplegable -->
            <div class="submenu">
              <!-- Submenu -->
              <a href="#">Regístrate</a>
              <a href="./login">Inicia Sesión</a>
            </div>
          </div>
        </div>
      </nav> <!-- Caja nav -->
    </div> <!-- Header y Navegador -->
    <div id="Estanteria">
      <!-- cuerpo -->
      <div id="contenido">
        <!-- Contenido -->
        <div id="slider1">
          <ul>
            <li><img src="img/sliders/imagen1.jpg" alt="" /></li>
            <li><img src="img/sliders/imagen2.jpg" alt="" /></li>
            <li><img src="img/sliders/imagen3.jpg" alt="" /></li>
            <li><img src="img/sliders/imagen4.jpg" alt="" /></li>
          </ul>
        </div>
        <div id="vista-de-libros">
          <div id="slider2">
            <div class="content-title">
              <h2 class="title-slider">Área de informática</h2>
            </div>
            <div class="carrusel">
              <!-- Contenedor de carrusel -->
              <div class="viewport" style="height: 339.8px; touch-action: pan-y;">
                <!-- Contenedor de libros en fila -->
                <div class="slider" style="left: 0px; transform: translate();">
                  <!-- Funcion de slider dentro del contenedor de libros en fila -->
                  <div class="carrusel-cel" style="max-width: 258px; position: absolute left: auto" aria-hidden="true">
                    <a class="img-related" title="">
                      <img src="img/books/El_lenguaje_de_programacion_C/Portada.jpeg" width="260px" height="340px" /> <!-- Portada de los libros -->
                    </a> <!-- Portada de los libros -->
                    <h3>
                      <a class="img-related" title="El lenguaje de programacion C" style="color: black; font-size: 17px; font-family:monospace;">El lenguaje de programacion C</a>
                    </h3> <!-- Subtitulos de los libros, depende que libro sea sera su titulo -->
                  </div> <!-- FUNCION DEL CARRUSEL -->
                  <div class="carrusel-cel" style="max-width: 258px; position: absolute left: auto" aria-hidden="true">
                    <a class="img-related" title="Cálculo de una variable">
                      <img src="img/books/Calculo_de_una_Variable/Portada.jpeg" width="260px" height="340px" />
                    </a>
                    <h3>
                      <a class="img-related" title="calculo de una variable" style="color: black; font-size: 17px; font-family:monospace;">Cálculo de una variable</a>
                    </h3>
                  </div>
                  <div class="carrusel-cel" style="max-width: 258px; position: absolute left: auto" aria-hidden="true">
                    <a class="img-related" title="">
                      <img src="img/books/Diseño_de_base_de_datos/Portada.jpeg" width="260px" height="340px" />
                    </a>
                    <h3>
                      <a class="img-related" title="Diseño de base de datos" style="color: black; font-size: 17px; font-family:monospace;">Diseño de base de datos</a>
                    </h3>
                  </div>
                  <div class="carrusel-cel" style="max-width: 258px; position: absolute left: auto" aria-hidden="true">
                    <a class="img-related" title="">
                      <img src="img/books/Estructura_de_programas_y_diseño/Portada.jpeg" width="260px" height="340px" />
                    </a> <!-- Portada de los libros -->
                    <h3>
                      <a class="img-related" title="Estructura de programas y diseño" style="color: black; font-size: 17px; font-family:monospace;">Estructura de programas y diseño</a>
                    </h3> <!-- Subtitulos de cada celda con el nombre de cada libro -->
                  </div>
                  <div class="carrusel-cel" style="max-width: 258px; position: absolute left: auto" aria-hidden="true">
                    <a class="img-related" title="">
                      <img src="" width="260px" height="340px" />
                    </a>
                    <h3>
                      <a class="img-related" title="">Titulo del libro</a>
                    </h3>
                  </div>
                  <div class="carrusel-cel" style="max-width: 258px; position: absolute left: auto" aria-hidden="true">
                    <a class="img-related" title="">
                      <img src="" width="260px" height="340px" />
                    </a>
                    <h3>
                      <a class="img-related" title="">Titulo del libro</a>
                    </h3>
                  </div>
                  <div class="carrusel-cel" style="max-width: 258px; position: absolute left: auto" aria-hidden="true">
                    <a class="img-related" title="">
                      <img src="" width="260px" height="340px" />
                    </a>
                    <h3>
                      <a class="img-related" title="">Titulo del libro</a>
                    </h3>
                  </div>
                  <div class="carrusel-cel" style="max-width: 258px; position: absolute left: auto" aria-hidden="true">
                    <a class="img-related" title="">
                      <img src="" width="260px" height="340px" />
                    </a>
                    <h3>
                      <a class="img-related" title="">Titulo del libro</a>
                    </h3>
                  </div>
                  <div class="carrusel-cel" style="max-width: 258px; position: absolute left: auto" aria-hidden="true">
                    <a class="img-related" title="">
                      <img src="" width="260px" height="340px" />
                    </a>
                    <h3>
                      <a class="img-related" title="">Titulo del libro</a>
                    </h3>
                  </div>
                  <div class="carrusel-cel" style="max-width: 258px; position: absolute left: auto" aria-hidden="true">
                    <a class="img-related" title="">
                      <img src="" width="260px" height="340px" />
                    </a>
                    <h3>
                      <a class="img-related" title="">Titulo del libro</a>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- Contenido central -->
    <div class="footer">
      <footer>
        <!-- Etiqueta footer -->
        <div class="container">
          <!-- Footer Up -->
          <div class="footer-content">
            <!-- contactos -->
            <div class="text-footer">
              <h3>Contáctanos!</h3>
              <div class="contacto">
                <p><i class="fa fa-map-marker"></i>info@uman.edu.mx</p>
                <p><i class="fa fa-phone"></i>(899)-922-2086</p>
                <p><i class="fa fa-envelope"></i>Calle Primera S/N, Col. El Círculo<br /> C.P 88640 Reynosa, México</p>
              </div>
            </div>
          </div>
          <div class="footer-content">
            <!-- Links -->
            <h3>Enlaces rápidos</h3>
            <ul class="Lista">
              <!-- Lista de links -->
              <li><a href="">Inicio</a></li>
              <li><a href="">Sobre Nosotros</a></li>
              <li><a href="">Servicios</a></li>
              <li><a href="">Planes de estudio</a></li>
              <li><a href="">Contactos</a></li>
            </ul>
          </div>
          <div class="footer-content">
            <!-- Redes sociales -->
            <h3>Síguenos!</h3>
            <ul class="social-icons">
              <!-- iconos de redes sociales -->
              <li><a href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="bottom-bar">
          <!-- Footer Down -->
          <p>&copy; 2024 Universidad Mexico Americana del Norte. Designer by: Cristian E.</p>
        </div>
      </footer>
    </div> <!-- Caja Footer -->
  </div> <!-- contenedor -->
</body>

</html>