.footer{
    width: 100%;
}
footer{
    color: white;
    font-size: 16px;
    background: #343434;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;

    
}
.container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.Lista{
    padding: 0;
}
.Lista li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.Lista li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.Lista li:hover::before{
    width: 70px;
}
.social-icons{
    
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: #FFF;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;

}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}