/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}



/* Estilos de tabla de usuarios */
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th,
.user-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

.user-table td {
    color: #666;
}

.user-table .btn-edit,
.user-table .btn-delete {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-table .btn-edit {
    background-color: #4CAF50;
    color: #fff;
}

.user-table .btn-delete {
    background-color: #f44336;
    color: #fff;
}

.user-table .btn-edit:hover,
.user-table .btn-delete:hover {
    opacity: 0.8;
}

/* Estilos de formulario de agregar usuario */
#add-user {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#add-user h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

.form-group select,
.form-group input,
.form-group textarea {
    width: calc(100% - 16px);
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

.btn-submit {
    width: 200px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #45a049;
}

/* Estilos de búsqueda de usuarios */
#search-users {
    margin-top: 30px;
}

#search-input {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.notification.success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    padding: 10px 15px;
    margin-bottom: 15px; 
    border-radius: 4px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out; 
  }
  
  .notification.success p {
    margin: 0;
  }
  
  .notification.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1; 
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 4px; 
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .notification.error p {
    margin: 0;
  }
  
  

    @keyframes fadeInOut {
        0%, 100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }

    