/* Universal estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{

    
}
.contenedor-principal{
  display: grid;
  grid-template-rows: auto; 
}

.contenedor-libros{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 187px 1fr 1fr;
    height: 600px;
    margin-top: 40px;
    margin-bottom: 90px;
    grid-template-areas: 
    "area1 area2 area3";
}

#botones-lateral{  
    display: flex;
    margin-left: 55px;
    grid-area: area1;
    width: 110px;
}

#ejemplar{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: area2;
    overflow: hidden;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    grid-area: area3;	
}

.botones{
    display: flex;
  justify-content: center;
  align-items:flex-end;
  font-size: 24px;
}

.btn-1,
.btn-2 {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    margin: 40px;
}
.btn-1 a,
.btn-2 a {
  text-decoration: none;
  border: 2px solid #010100;
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}
span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
}
.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  /*100% plus double the times left values*/
  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-1 a:hover::before,
.btn-2 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  /*100% plus double the times left values*/
  height: calc(100% + 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}
/* Created by http://grohit.com/  */

.btn-1 a:hover::after,
.btn-2 a:hover::after {
  transform: scaleX(0);
}

/* Button 2 styles */

.btn-2 a {
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.btn-2 a:hover {
  color: #000000;
  transition: all 0.5s ease-in-out;
}

.btn-2 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-2 a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

#libro{
    display: flex;
    width: 200px;
    height: 90%;
    background-color: white;
    margin-top: 100px;
    margin-left: -200px;
}

#libro img{
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
}
#texto{
    color: black;
    font-size: 20px;
    width: 90%;
    height: 80%;
    background-color: white;
}

#texto p{
    color: black;
    font-family: sans-serif;
    font-size: 17px;
}

#texto p:nth-child(1){
    font-size: 30px;
    font: bold;
    font-family: sans-serif;
}


footer{
    width: 100%;
    height: auto;
}

.Logo #Cabecera h1 {
    text-shadow: 5px 5px 0 #000;
}

#Cabecera  h1 {
    text-align: center;
    color: #FFF;
    font-size: 40px;    
}

#Cabecera {
    background: url(multimedia/barra-libros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
}
.desktop .Logo img{
    height: 52px;
    margin-left: 5px;
}
.content-title{
    margin-left: 220px;
    justify-content: center;
    display: inline-flex;
    width: 70%;
    border-bottom: 4px solid #58181F;
    margin-bottom: 1.5rem;
    font-family: sans-serif;
}
.content-title h2{
    margin-bottom: 10px;
}

.description{
    margin-bottom: 10px;
}
.description p{
    color: #606569;
    width: 70%;
    margin-left: 220px;
    font-family: sans-serif;
    line-height: 30px;
}

.description .text{
    -webkit-mask-image: linear-gradient(#000 60%, transparent);
    will-change: transform;
    overflow: hidden;
    margin-bottom: 5px;
    transition: all .5s cubic-bezier(.39,.58,.57,1);
    max-height: 12em;
    padding: 0;
    position: relative;
}
.description .show-more{
    font-family: sans-serif;
    color: #000;
    position: relative;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
    padding: 1px 20px 1px 16px;
    max-width: 200px;
    margin: 10px auto;
    line-height: 27px;
    vertical-align: baseline;
}